* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(to right, rgb(59, 23, 23), rgb(94, 10, 10));
}

header h1 {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  color: blanchedalmond;
  font-weight: 300;
}

#game {
  width: 700px;
  height: 550px;
  background-color: rgb(0, 0, 0);
  margin: 0 auto; 
  position: relative; 
}

#stats {
  background-image: linear-gradient(rgb(194, 194, 194), gray);
  padding: 10px;
  display: flex;  
  gap: 2rem;     
}

#screen {    
  width: 600px;
  height: 400px;    
  margin: 30px 50px;
  position: relative;
  top: 24px;
}

#monster-hp-span {
  display: none;
  position: absolute;
  color: rgb(148, 201, 70);
  padding: 10px;
}

#txt {
  font-size: 20px;
  padding: 20px 40px;  
  color: rgb(255, 255, 255);
  position: absolute;
  bottom: 5%;
  left: 50%;
  translate: -50%;
  background-color: rgb(70, 70, 70);  
  border: 5px ridge rgb(0, 0, 0);  
  word-wrap: break-word;
  width: 400px;   
  animation: fadeIn 1000ms ease-in;    
}

button {
  cursor: pointer;
  margin-left: 2px;
  margin-right: 2px;
  padding: 3px 5px;
  border: none;
  border-radius: 5px;  
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}